.sidebar {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
}

.twittericon {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 16rem;
  transition: background 0.2s;
}

.twittericon:hover {
  background-color: rgba(0, 255, 255, 0.2);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.link {
  padding: 0.8rem 1rem;
  border-radius: 16rem;
  transition: background 0.2s;
  display: inline-flex;
  align-items: center;
}

.nav > a:hover .link {
  background-color: rgba(0, 0, 0, 0.1);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.login {
  background-color: rgb(88, 166, 255);
  color: white;
  padding: 1rem 0;
  border: none;
  border-radius: 0.5rem;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.2s;
}

.login:hover {
  background-color: rgb(58, 150, 255);
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .nav > a {
    text-align: center;
  }
  .link {
    padding: 0.5rem;
  }
  .linklabel {
    display: none;
  }
  .icon {
    margin-right: 0;
  }
  .sidebar {
    grid-column: span 1;
    align-items: center;
  }
}
