.tweet {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid rgb(var(--textcolor), 0.1);
  transition: background 0.2s;
}

.tweet:hover {
  background-color: rgb(var(--textcolor), 0.05);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.user {
  color: rgb(var(--textcolor), 1);
  font-weight: 600;
  text-decoration: none;
}

.user:hover {
  text-decoration: underline;
}

.username {
  color: grey;
  font-weight: lighter;
  margin-left: 0.5rem;
}

.image {
  width: 100%;
  border-radius: 1rem;
}

.interaction {
  user-select: none;
}

.like {
  display: inline;
}

.like:hover {
  cursor: pointer;
}
