.widget {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.search {
  display: flex;
}

.input {
  border: 1px solid rgb(var(--textcolor), 0.2);
  border-radius: 16rem;
  color: rgb(var(--textcolor));
  background-color: rgb(var(--textcolor), 0.05);
  padding: 1rem;
  flex: 1;
}

.input:focus {
  outline: rgb(58, 150, 255) solid 1px;
}
